@import '../../../utils/constants/styles/colors';

.sign-in-wrapper {
  .footer {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    .submit-btn {
      padding: 5px 0;
      background-color: $dodgerBlueDark;
      width: 80%;
      border: none;
      color: $white;
      &:hover {
        cursor: pointer;
      }
    }
  }

}
